.main_form {
	font-family: Helvetica, sans-serif;
	display: flex;
	font-size: 20px;
	justify-content: center;
}

.form_container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 600px;
}

.form_part {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form_input {
	width: 33%;
	outline: none;
	border: 2px solid black;
	border-radius: 15px;
	padding: 5px;
}

.desc_input {
	resize: vertical;
	min-height: 50px;

}

.form_submit {
	background-color: seagreen;
	border: none;
	font-size: 25px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 10px;
	margin-top: 20px;
	border-radius: 25px;
}