body {
	font-family: Helvetica, sans-serif;
}

h1 {
	text-align: center;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

pre {
	display: none;
}

.tasks_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.task {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: cornsilk;
	padding: 15px;
	border-radius: 25px;
	width: 500px;
	gap: 10px;
	transition: ease-in-out 0.2s;
}

.task:hover {
	transform: scale(1.1);
	box-shadow: 0px 10px 15px -15px #888888;
}

.task_name {
	font-weight: bold;
	font-size: 1.5em;
}

.task_description {
	font-style: italic;
	color: #333333;
}

.task_last {
	align-self: flex-end;
	margin-top: 5px;
	font-size: 10px;
	color:  #777777;
}